.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.banner h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5vw;
    letter-spacing: 1vw;
}

.banner img {
    width: 50%;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #242526;
    color: white;
    margin-top: 30px;
    padding: 20px 0;
}

footer ul li {
    list-style: none;
}

footer ul li.decale {
    margin-left: 15px;
}




@media (max-width: 1000px) {
    .banner h1 {
        font-size: 60px;
    }
}