.container-tab {
    display: grid;
    place-items: center;
    width: 100%;
}

table {
    margin: 20px 0;
    text-align: center;
}

table thead {
    background-color: black;
    color: white;
}

thead tr td,
tbody tr td {
    padding: 5px 15px;
}

tbody tr td span {
    color: red;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: rgb(165, 165, 165);
}

tr td a i {
    padding: 10px 20px;
    border-radius: 5px;
}

.fa-pen-to-square {
    background-color: rgb(0, 165, 0);
    margin-right: 10px;
}

.fa-trash {
    background-color: rgb(255, 100, 100);
}

.etat-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    font-size: 25px;
}

.etat-center span {
    margin: 0 5px;
    color: red;
}

.addElement {
    display: block;
    font-size: 25px;
    text-align: center;
    margin: 30px auto;
    width: fit-content;
    transition: 200ms;
}

.addElement:hover {
    transform: scale(1.1);
}