<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

    <title>Document</title>
</head>
<body>

    {% include('nav.html') %}


    <form action="/client/edit/valid" method="post">

        



        <div class="container-button">
            <a href="/client/show">Annuler</a>
            <button type="submit">Valider</button>
        </div>
    </form>

    <script src="{{ url_for('static', filename='javaScript/nav.js') }}"></script>
</body>
</html>