<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/etat_deplacement.css') }}">

    <title>Etat client</title>
</head>

<body>

    {% include('nav.html') %}

    <div class="blockMargin"></div>

    <h1>Prix total : <span>{{ total_tout_conteneur.prix_total }}</span>€, pour <span>{{ total_tout_conteneur.total_poid }}</span>kg récolter</h1>

    <h1>Calcule de la quantité totale récoltée par camionette</h1>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Adresse conteneur</td>
                    <td>Total quantité dans le conteneur</td>
                </tr>
            </thead>

            <tbody>
                {% for dico in quantiter_par_conteneur %}
                <tr>
                    <td>{{ dico.conteneur_id }}</td>
                    <td>{{ dico.adresse_conteneur }}</td>
                    <td>{{ dico.total_quantite }}kg</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>

</html>