<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/etat_client.css') }}">

    <title>Etat client</title>
</head>

<body>

    {% include('nav.html') %}

    <div class="blockMargin"></div>

    <div class="container">
        <div class="item">
            <table>
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Libelle categorie</td>
                        <td>Poid necessaire</td>
                        <td>reduction</td>
                        <td>Moyenne age</td>
                    </tr>
                </thead>
    
                <tbody>
                    {% for dico in moyenne_age %}
                    <tr>
                        <td>{{ dico.categorie_id }}</td>
                        <td>{{ dico.libelle }}</td>
                        <td>{{ dico.poid_necessaire }} kg</td>
                        <td>{{ dico.reduction }}%</td>
                        <td>{{ dico.moyenne }} ans</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="item">
            <canvas id="canvasMoyenneAge"></canvas>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        new Chart(document.getElementById("canvasMoyenneAge"), {
            type: 'pie',
            data: {
                labels: {{ libelles | safe }},
                datasets: [{
                    backgroundColor: {{ couleurs | safe }},
                data: {{ moyennes | safe }}
                    }]
            },
            options: {
            title: {
                display: true,
                text: 'Pie Chart for admin panel'
            },
            responsive: false
        }
        });

    </script>

</body>

</html>