<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">FripCycle</a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">

    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>

      <li><a href="/">Accueil</a></li>

      <li>
        <a href="#" class="desktop-item">Alex .I</a>
        <input type="checkbox" id="dropAlex">
        <label for="dropAlex" class="mobile-item">Alex .I</label>
        <ul class="drop-menu">
          <li><a href="/">Accueil</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="desktop-item">Florian .H</a>
        <input type="checkbox" id="dropFlorian">
        <label for="dropFlorian" class="mobile-item">Florian .H</label>
        <ul class="drop-menu">
          <li><a href="/client/show">Client</a></li>
          <li><a href="/categorie-client/show">Categorie client</a></li>
          <li><a href="/client/achat/show">Etat achat</a></li>
          <li><a href="/client/etat">Etat client/categorie</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="desktop-item">Adam .K</a>
        <input type="checkbox" id="dropAdam">
        <label for="dropAdam" class="mobile-item">Adam .K</label>
        <ul class="drop-menu">
          <li><a href="/deplacement/show">Deplacement</a></li>
          <li><a href="/deplacement/etat/show">Etat deplacement</a></li>
        </ul>
      </li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>