



<nav>

    <a href="/">FripCycle</a>

    <div class="burger">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="container-nav-item">
        <p id="close-nav">X</p>
        <a href="/" class="item-nav">Home</a>
        <a href="/client/show" class="item-nav">Client</a>
        <a href="#" class="item-nav">Catégorie Client</a>
        <a href="#" class="item-nav">Type vêtement</a>
        <a href="#" class="item-nav"></a>
    </div>

</nav>