<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tableau.css') }}">

    <title>Conteneur</title>
</head>

<body>

    {% include('nav.html') %}

    <a class="addElement" href="/conteneur/add">Ajouter du contenue dans un conteneur</a>

    <div class="container-tab">
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Adresse conteneur</td>
                    <td>Distance magasin</td>
                    <td>Type vetement libelle</td>
                    <td>Quantiter contenue</td>
                    <td>Bouton utilitaire</td>
                </tr>
            </thead>

            <tbody>
                {% for dico in conteneurs %}
                <tr>
                    <td>{{ dico.conteneur_id }}</td>
                    <td>{{ dico.adresse_conteneur }}</td>
                    <td>{{ dico.distance_magasin }}</td>
                    <td>{{ dico.libelle }} <span>({{ dico.type_vetement_id }})</span></td>
                    <td>{{ dico.quantite }}</td>
                    <td>
                        <a href="/conteneur/edit/{{ dico.conteneur_id }}/{{ dico.type_vetement_id }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>

</html>